.about-project {
  flex-direction: column;
  width: 50%;
}
.welcomeImage {
  width: 270px;
  height: 270px;
}
.welcomeText {
  height: 150px;
  font-size: 1rem;
}
.form-welcome {
  width: 50%;
  border-left: 4px solid purple;
}
.divStartBtn {
  width: 300px;
}
.h1-welcomePage {
  border-bottom: 3px solid black;
  font-size: 2rem;
}
.form-section {
  border: 1px solid black;
  min-height: 340px;
  width: 460px;
  background: linear-gradient(
    to top right,
    #f6ffaf 40%,
    #fdbbf5e0 65%
  ) !important;
}
.welcome-input {
  padding: 12px !important;
}
.invalid-feedback {
  min-height: 18px;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1024px) {
  .form-section {
    width: 96%;
    min-height: 290px;
  }
  .welcome-input {
    padding: 10px !important;
    max-width: 200px;
  }
  .about-project {
    width: 44%;
  }
  .form-welcome {
    width: 56%;
  }
}

@media screen and (max-width: 768px) {
  .welcome-screen {
    flex-direction: column;
    overflow-y: scroll !important;
  }
  .welcomeImage {
    width: 300px;
    height: 150px;
  }
  .about-project {
    width: 100%;
    margin-top: 14px;
    flex-direction: row;
  }
  .p-welcomePage {
    display: none;
  }
  .welcomeText {
    font-size: 0.9rem;
  }
  .form-welcome {
    width: 100%;
    height: 100%;
    justify-content: start;
    margin-top: px;
    border-left: none;
  }
  .h1-welcomePage {
    font-size: 1.4rem;
  }
  .divStartBtn {
    height: 120px;
    width: 252px;
    flex-direction: column;
  }
  .welcome-input {
    padding: 6px !important;
    width: 100%;
  }
  .h1-welcomePage {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  .welcome-screen {
    flex-direction: column;
  }
  .about-project {
    width: 100%;
    height: 30%;
  }
  .p-welcomePage {
    display: none;
  }
  .form-welcome {
    border-left: none;
    width: 100%;
  }
  .h1-welcomePage {
    font-size: 1.2rem;
  }
  .welcome-input {
    padding: 6px !important;
  }
  .divStartBtn {
    width: 200px;
  }
}
