.challengesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: max-content;
  gap: 16px;
  padding: 20px;
  min-height: 80vh;
  overflow: auto;
  text-align: center;
}

.MyChallengesManager {
  box-shadow: 0px 0px 10px 0px;
  height: 100%;
  padding: 30px;
}

.userChallenges {
  width: 400px;
}

.allChallenges {
  box-shadow: 0px 0px 10px 3px;
}

/* עיצוב האחוזון */
.c-progress {
  width: 70px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: bold;
  position: relative;
}

.c-progress::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(#22c55e calc(var(--p) * 1%), #d3d3d4 0);
  /* המסכה נמצאת כאן במקום ב־.c-progress */
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(50% - 10px),
    #000 calc(50% - 10px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(50% - -8px),
    #000 calc(50% - 10px)
  );
  z-index: 0;
}

.c-progress > span {
  position: relative; /* שהטקסט יהיה מעל הטבעת */
  z-index: 1;
}

.is-chosen-pending {
  background-color: #f3b80727 !important;
}
.is-chosen-in-progress {
  background-color: #0d6dfc1a !important;
}
.is-chosen-done {
  background-color: #1dc8782c !important;
}

@media screen and (max-width: 1024px) {
  .challengesContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .cardsStatus-title {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .challengesContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .MyChallengesManager {
    width: 85% !important;
  }
}
