@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap");
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.h1-welcomePage,
.p-welcomePage {
  font-family: Raleway;
}
.h1-welcomePage {
  font-size: 2.7rem;
  border-bottom: 3px solid black;
}
.btn-welcomePage:hover {
  transform: scale(1.2);
}

.home-page-cards:hover {
  transform: scale(1.05);
}

.custom-main {
  background: linear-gradient(
    to top right,
    rgba(13, 110, 253, 0.25) 30%,
    #7aedfc59 60%
  );
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.welcome-screen {
  z-index: 1000;
}
.sigUpForm {
  background-color: #055276;
}
.welcomeImage {
  width: 350px;
  height: 350px;
}
.welcomeText {
  font-size: 1.5rem;
}
.divStartBtn {
  white-space: nowrap;
  width: 350px;
}
.welcomePageToForm {
  border-left: 2px solid purple;
}
.signUp {
  border: 1px solid black;
  background: linear-gradient(
    to top right,
    #f6ffaf 40%,
    #fdbbf5e0 65%
  ) !important;
}
.signIn {
  border: 1px solid black;
  background: linear-gradient(
    to top right,
    #f6ffaf 40%,
    #fdbbf5e0 65%
  ) !important;
  width: 75%;
  height: 80%;
}

.challengesContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
  padding: 20px;
  min-height: 80vh;
  overflow: auto;
  text-align: center;
}

.addChallenges {
  box-shadow: 0px 0px 30px 2px;
}

.selectedChallenges {
  text-align: center;
  padding: 14px;
  overflow: auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(255, 255, 255, 0.46);
  max-width: 1280px;
  width: 100%;
}
.selectedCards {
  width: 100%;
  padding: 6px;
}

.addChallenges {
  width: 25%;
  background-color: white;
  height: 325px;
}
.cardsStatus-title {
  font-size: 20px;
}

.categoryShadow {
  box-shadow: 0px 0px 10px 5px;
}
.imgCardCategory {
  height: 300px;
}
.btnAllChallenges {
  width: 25%;
}
.MyChallengesManager {
  box-shadow: 0px 0px 10px 0px;
  height: 100%;
  padding: 30px;
}
.allChallenges {
  box-shadow: 0px 0px 10px 3px;
}
.userChallenges {
  width: 400px;
}
.btn-allChallenges {
  width: 20%;
}

.upload-label {
  border: 4px dashed black;
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  cursor: pointer;
  transition: border-color 0.3s ease, color 0.3s ease;
}
.upload-label:hover {
  border-color: green;
}

/* עיצוב האחוזון */
.c-progress {
  width: 70px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: bold;
  position: relative;
}

.c-progress::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(#22c55e calc(var(--p) * 1%), #d3d3d4 0);
  /* המסכה נמצאת כאן במקום ב־.c-progress */
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(50% - 10px),
    #000 calc(50% - 10px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(50% - -8px),
    #000 calc(50% - 10px)
  );
  z-index: 0;
}

.c-progress > span {
  position: relative; /* שהטקסט יהיה מעל הטבעת */
  z-index: 1;
}
.signInForm {
  height: 265px !important;
}
.signUpForm {
  height: 265px !important;
}

.is-chosen-pending {
  border: 5px solid #fec007 !important;
}
.is-chosen-in-progress {
  border: 5px solid #0d6efc !important;
}
.is-chosen-done {
  border: 5px solid #1dc878 !important;
}
.community-cards {
  width: 680px;
}
.img-CommunityCards01 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.userName-upperCaseImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size: 1.2rem;
  background-color: #2561bc;
}

.comment-userImg,
.comment-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.trivia-cards {
  width: 200px;
  height: 250px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  text-align: center;
  position: absolute;
  border: 6px solid #fff;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px 12px #fff7fb;
}

.trivia-cards:hover {
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
}
.card-mark {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}
.trivia-deck {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: start;
  height: 350px;
}
.trivia-deck > .trivia-cards:nth-child(1) {
  transform: translate(119px, 38px) rotate(34deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.trivia-deck > .trivia-cards:nth-child(2) {
  transform: translate(77px, 5px) rotate(29deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.trivia-deck > .trivia-cards:nth-child(3) {
  transform: translate(24px, -4px) rotate(18deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.trivia-deck > .trivia-cards:nth-child(4) {
  transform: translate(-21px, -22px) rotate(11deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.trivia-deck > .trivia-cards:nth-child(5) {
  transform: translate(-66px, -27px) rotate(0deg);

  display: flex;
  align-items: center;
  justify-content: center;
}
.trivia-deck > .trivia-cards:nth-child(6) {
  transform: translate(-129px, -20px) rotate(-15deg);

  display: flex;
  align-items: center;
  justify-content: center;
}
.trivia-deck > .trivia-cards:nth-child(7) {
  transform: translate(-184px, -3px) rotate(-27deg);
}
.trivia-deck > .trivia-cards:nth-child(8) {
  transform: translate(-238px, 20px) rotate(-34deg);
}
.trivia-status {
  width: 250px;
  height: 150px;
  box-shadow: 0px 0px 6px 2px;
}
.trivia-title {
  font-size: 1.3rem;
}

@media screen and (max-width: 1024px) {
  .welcomeImage {
    width: 60%;
    height: 50%;
  }
  .welcomeText {
    font-size: 100%;
  }
  .h1-welcomePage {
    font-size: 2rem;
  }

  .cardsStatus-title {
    font-size: 12px;
  }
  .addChallenges {
    width: 40%;
  }
  .challengesContainer {
    grid-template-columns: repeat(3, auto);
  }
  .btn-allChallenges {
    width: 25%;
  }
  .signIn {
    width: 90%;
  }
  .trivia-status {
    padding-top: 10px;
  }
  .trivia-cards {
    width: 160px;
    height: 200px;
  }
  .trivia-board {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .h1-welcomePage {
    font-size: 1.7rem;
  }

  .btnTwoStar {
    font-size: 0.8rem !important;
  }
  .btnOneStart {
    font-size: 0.8rem !important;
  }
  .divStartBtn {
    white-space: nowrap;
    width: 265px;
  }
  .home-Challenges {
    flex-direction: column;
  }
  .selectedCardsContainer {
    flex-direction: column;
  }
  .addChallenges {
    width: 80%;
    height: 38%;
  }
  .cardCategories {
    flex-direction: column;
  }
  .categoryShadow {
    width: 250px !important;
    height: 285px !important;
  }
  .btnThreeCategoryCards {
    font-size: 60% !important;
  }
  .descCardsCategory {
    font-size: 70% !important;
  }
  .imgCardCategory {
    height: 182px;
  }
  .btn-warning {
    width: 100%;
  }
  .challengesContainer {
    grid-template-columns: repeat(2, auto);
  }
  .selectedCards {
    height: 47% !important;
  }
  .MyChallengesManager {
    width: 85% !important;
  }
  .btn-allChallenges {
    width: 30%;
  }
  .userName-upperCaseImg {
    width: 16%;
    height: 50%;
  }
  .community-cards {
    width: 500px;
  }
  .trivia-cards {
    position: static;
    width: 180px;
    height: 265px;
  }
  .trivia-deck {
    flex-direction: column;
    position: static;
    height: auto;
    width: 100%;
  }
  .trivia-deck > .trivia-cards:nth-child(1) {
    transform: translate(50px, 32px) rotate(0deg);
  }
  .trivia-deck > .trivia-cards:nth-child(2) {
    transform: translate(35px, -212px) rotate(0deg);
  }
  .trivia-deck > .trivia-cards:nth-child(3) {
    transform: translate(20px, -455px) rotate(0deg);
  }
  .trivia-deck > .trivia-cards:nth-child(4) {
    transform: translate(5px, -695px) rotate(0deg);
  }
  .trivia-deck > .trivia-cards:nth-child(5) {
    transform: translate(-10px, -935px) rotate(0deg);
  }
  .trivia-deck > .trivia-cards:nth-child(6) {
    transform: translate(-25px, -1170px) rotate(0deg);
  }
  .trivia-deck > .trivia-cards:nth-child(7) {
    transform: translate(-40px, -1407px) rotate(0deg);
  }
  .trivia-deck > .trivia-cards:nth-child(8) {
    transform: translate(-55px, -1641px) rotate(0deg);
  }
  .trivia-container {
    padding: 30px;
  }
}

@media screen and (max-width: 426px) {
  .welcome-screen {
    flex-direction: column !important;
  }
  .welcomeText {
    font-size: 74%;
  }
  .welcomePageToForm {
    border-left: none;
    border-top: 1px solid white;
  }
  .h1-welcomePage {
    font-size: 0.9rem;
    margin-top: 14px;
  }

  .userChallenges {
    width: 80%;
  }
  .btn-allChallenges {
    width: 55%;
  }
  .trivia-title {
    font-size: 85%;
  }
  .community-cards {
    width: 360px;
  }
}
