.community-cards {
  width: 680px;
}
.img-CommunityCards01 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userName-upperCaseImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size: 1.2rem;
  background-color: #2561bc;
}

.comment-userImg,
.comment-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.community-card {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .userName-upperCaseImg {
    width: 16%;
    height: 50%;
  }
  .community-cards {
    width: 500px;
  }
}
@media screen and (max-width: 426px) {
  .community-card {
    width: 90% !important;
  }
}
